# users
VALID_USERNAME="your_username_here"
VALID_PASSWORD="your_password_here"

# db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=localhost_db
DB_USER=local_user
DB_PASSWORD=local_password

# URLs
BASE_URL_DASHBOARD="http://localhost:3000"
BASE_URL_API="http://localhost:3001"